{% extends "base.html" %}

{% block lab %}Лабораторная работа 9{% endblock %}

{% block main %}
<h1>Открытка - Поздравление с Новым годом</h1>
<p>
    {% if recipient_gender == 'male' %}
        Дорогой {{ recipient_name }}! Хочу поздравить тебя с наступающим новым 2024 годом!&#10052; 
    {% else %}
        Дорогая {{ recipient_name }}! Хочу поздравить тебя с наступающим новым 2024 годом!&#10052;
    {% endif %} 
</p>
<p>
    С наилучшими пожеланиями, {{ sender_name }}&#9829;
</p>
{% endblock %}