<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Махмад Карина. {% block lab %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>WEB-программирование, чать 2. {{ self.lab() }}</header>

    <main>
        <a style="font-size: 25; text-decoration: none; color: lightslategray;" href="/menu">&#8592;ГЛАВНОЕ МЕНЮ</a>
        {% block main %}{% endblock %}
        
    </main>
    
    <footer>
        &copy; Махмад Карина, ФБИ-14, 3 курс, 2023
    </footer>
</body>
</html>