<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Махмад Карина. Лабораторная {{ number }} </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        WEB-программирование, часть 2. {% if number %}Лабораторная {{ number }}{% endif %}
    </header>

    <main>
        5 + 2 = {{ 5 + 2 }}<br>
        11 x 28 = {{ 11 * 28 }}<br>
        8452 / 793 = {{ 8452 / 793}}<br>
        45^8 = {{ 45**8 }}<br>
        <ul>
            {% for f in fruits %}
            <li>{{ f.name }}: {{ f.price }} &#8381;</li>
            {% endfor %}
        </ul>
        <ul>
            {% for f in books %}
            <li>{{ f.autor }}: {{ f.name }}, Жанр: {{ f.zhanr }}, {{ f.str }} страниц</li>
            {% endfor %}
        </ul>
     
    </main>
    
    <footer>
        &copy; 
        {% if name %}
            {{ name }}, 
        {% else %}
            Анонимус,
        {% endif %}
        {% if number_group %}
            {{ number_group }},
        {% else %}
            Отчислен,
        {% endif %}
        {% if number_kurs %}
            {{ number_kurs}},
        {% else %}
            Абитуриент,
        {% endif %}
        2023
    </footer>
</body>
</html>