{% extends "base.html" %}

{% block lab %} Лабораторная работа 4 {% endblock %}

{% block main %}
    <h1>Холодильник</h1>
    <form method="post">
        <label>Введите температуру:</label>
        <input type="number" id="temperature" name="temperature">
        <button type="submit">Установить температуру</button>
        <div id="result" style="color: blue;">
            {{ result }}
        </div>
        <div>
            <a style="text-decoration: none; color: rosybrown;" href="/lab4/ice">Попробовать еще</a>
        </div>
    </form>
{% endblock %}