{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Лабораторная работа 5. Flask и БД</h1>
    <div>Страницы:</div>
    <ol>
        <li>
            <a href="/lab5/reg">Авторизация</a>
        </li>
     
        <li>
            <a href="/lab5/articles">Просмотр заметок</a>
        </li>

        <li>
            <a href="/lab5/zametki">Cоздание заметки</a>
        </li>

        <li>
            <a href="/lab5/login">Логин</a>
        </li>

        <li>
            <a href="/lab5/users">Пользователи</a>
        </li>

        <form action="/lab5/logout">
            <button class="button_user" type="submit">Выйти</button>
        </form>

       
    </ol>
{% endblock %}