{% extends "base.html" %}

{% block lab %} Лабораторная работа 5 {% endblock %}

{% block main %}
    <div>
    
        <form method="post">
            <h1 style="text-align: center;">Регистрация пользователя</h1>

            <div>
                <label style="color: olive;" for="user_name">Логин:</label><br>
                <input  class="pole_tiket" type="text" name="user_name" placeholder="user">
            </div>

            <div>
                <label style="color: olive;" for="password">Пароль:</label><br>
                <input  class="pole_tiket" type="text" name="password" placeholder="password">
            </div>
            
            {% for error in errors %}
                {{ error }}
            {% endfor %}

            <button style="height: 30px;
            color: olive;
            background-color: white;
            font-size: 12pt;
            font-weight: bold;
            border: 2px olive solid;
            border-radius: 5px;
            margin-left: 20px;" class="pole_tiket" type="submit">Зарегистрироваться</button>
        </form>

    </div>

{% endblock %}