{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}


{% block main %}
    <h1 style="text-align: center; color: burlywood;">Нашумевший стиль OLD MONEY</h1>
    <img style="height: 100%; width: 100%;" src="{{ url_for('static', filename='1.jpeg') }}"> 
    <div style="font-size: 25px;"> 
        В Сети творится безумие: модные блогеры без устали демонстрируют роскошные образы в духе Америки и Европы прошлого столетия. 
        Стиль old money — «старые деньги» — возник благодаря особому социальному классу. Представители «олдмани» — богачи, которые не заработали деньги сами, а унаследовали их. 
        Они родились в роскоши, купались в ней с самого детства. Принадлежность к элите в них выдает внешний вид, умение держаться в обществе, манера речи, увлечения и хобби. 
        Сегодня стиль «олдмани» вышел за пределы конкретного социального класса и распространился в массы. Стало модным копировать образы Кэролин Кеннеди или леди Ди, примерять костюмы в духе Шанель и носить перчатки. 
    </div>
    <div><img src="{{ url_for('static', filename='3.jpeg') }}"></div>
    <h2>OLD MONEY на мужчинах</h2>
    <div><img src="{{ url_for('static', filename='2.jpeg') }}" width="50%"></div>
    <h2>OLD MONEY на женщинах</h2>
    <div><img src="{{ url_for('static', filename='5.jpeg') }}" width="50%"></div>
    <h2>Подростковый OLD MONEY</h2>
    <div><img src="{{ url_for('static', filename='4.jpeg') }}" width="50%"></div>

{% endblock %}
