{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Заказ напитка</h1>

    <form action="/lab3/pay">
        <div>Напиток:</div>
        <label class="label">
            <input type="radio" value="coffee" name="drink" checked>Кофе: 120&#8381;<br>
        </label>
        <label class="label">
            <input type="radio" value="black-tea" name="drink">Черный чай: 80&#8381;<br>
        </label>
        <label>
            <input type="radio" value="green-tea" name="drink" checked>Зеленый чай: 70&#8381;<br>
        </label>

        <div>Добавки:</div>
        <label>
            <input type="checkbox" name="milk">Молоко: 30&#8381;<br>
        </label>
        <label>
            <input type="checkbox" name="sugar">Сахар: 10&#8381;
        </label>

        <div>
            <button type="submit">Заказать</button>
        </div>
    </form>
{% endblock %}